<div class="container">
	<div class="row" id="list">
		<div class="col s6 l4" id="left-side">
			<table class="striped bordered highlight responsive-table">
				<thead>
					<tr>
						<th data-field="id">Burger Yet to Eat</th>
					</tr>
				</thead>
				<tbody>
					{{#each burger_data}}
						{{#if this.devoured}}
							<tr>
								<td><pre>{{this.ID}}. {{this.name}}</pre>
								</td>
								<td>
									<form method="POST" action="/update?_method=PUT">
										<input type="hidden" type="text" name="id" value={{this.ID}}>
										<button type="submit" class="btn-floating waves-effect waves-light black"><i class="material-icons">done</i></button>
									</form>
								</td>
							</tr>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col l4 center align">
				<img src="/images/burger.gif" alt="burger logo" class="brand" />
			<h1>Eat Da Burger!</h1>
			<form action="/create" method="POST" id="add">
				<textarea class="materialize-textarea" type="text" name="name" value="" id="enter_text" placeholder="Add a Burger..."></textarea>
				<button type="submit" class="btn-floating waves-effect waves-light blue pull right" id="text-enter-button">Add</button>
			</form>
		</div>
		<div class="col s6 l4" id="right-side">
			<table class="striped bordered highlight responsive-table">
				<thead>
					<tr>
						<th data-field="id">I Ate Burger</th>
					</tr>
				</thead>
				<tbody>
					{{#each burger_data}}
						{{#if this.devoured}}
						{{else}}
							<tr>
								<td><pre>{{this.ID}}. {{this.name}}</pre></td>
							</tr>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
