<div class="container">
	<div class="row" id- "logo">
		<div class="col s12 center align">
			<h1>Eat Da Burger!</h1>
		</div>
	</div>
	<div class="row" id="list">
		<div class="col s4" id="left-side">
			<table>
				<thead>
					<tr>
						<th data-field="id">Burger Yet to Eat</th>
					</tr>
				</thead>
				<tbody>
					{{#each burger_data}}
						{{#if this.devoured}}
							<tr>
								<td><pre>{{this.ID}}. {{this.name}}</pre>
									<form method="POST" action="/update?_method=PUT">
										<input type="hidden" type="text" name="id" value={{this.ID}}>
										<button type="submit" class="btn btn-default">Yummy</button>
									</form>
								</td>
							</tr>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col s4 offset-s4" id="right-side">
			<table>
				<thead>
					<tr>
						<th data-field="id">I Ate Burger</th>
					</tr>
				</thead>
				<tbody>
					{{#each burger_data}}
						{{#if this.devoured}}
						{{else}}
							<tr>
								<td><pre>{{this.ID}}. {{this.name}}</pre></td>

							</tr>
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col s8 offset-s2">
			<form action="/create" method="POST" style="width: 200px; padding: 6px;">
				<textarea class="form-control" type="text" name="name" value="" id="enter_text"></textarea>
				<button type="submit" class="btn blue" id="text-enter-button">Add Burger</button>
				<p>Add A Burger</p>
			</form>
		</div>
	</div>
</div>
